<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Giới thiệu</li>
								</ul>
							</nav>
							<h4 class="title">Giới thiệu</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="about-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-thumb">
							<a href="javascript:(0);">
								<img class="w-100" src="assets/img/about.png">
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<h4 class="title">COFFEE SHOP</h4>
							</p>
							<a class="btn-theme" href="javascript:(0);">Xem thêm</a>
						</div>
					</div>
				</div>
			</div>
		</section>
<!--thay thế nội dung bằng nội dung của fragment có tên là "dynamic" 
trong tệp index.html của thư mục /layout.-->
		<hr>
	</main>
	<hr>
</body>
</html>